spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/uroom
    username: uroom
    password: uroom
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false

server:
  port: 8080
